/* plugin:redirect2 - rtl */

div.dokuwiki div.redirect2_redirected {
    background-position: right top;
    background-image: url(images/bullet_go_rtl.png);
    padding-right: 1.5em;
}

div.dokuwiki pre.redirect2_example {
    margin: 0.5em 0 0.5em 0.5em;
}
